<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version ="3.0">
    <display-name>Cloud Bike Server</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- API -->
    <!--**PLANNED TRIP**-->
    <servlet>
        <servlet-name>AutoParingWhenSearchAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.AutoParingWhenSearchAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoParingWhenSearchAPI</servlet-name>
        <url-pattern>/AutoParingWhenSearchAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreatePlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CreatePlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePlannedTripAPI</servlet-name>
        <url-pattern>/CreatePlannedTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPlannedTripDetailAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPlannedTripDetailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPlannedTripDetailAPI</servlet-name>
        <url-pattern>/GetPlannedTripDetailAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCurrentLocationWithPlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateCurrentLocationWithPlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCurrentLocationWithPlannedTripAPI</servlet-name>
        <url-pattern>/UpdateCurrentLocationWithPlannedTripAPI</url-pattern>
    </servlet-mapping>

    <!--**USER**-->
    <servlet>
        <servlet-name>LoginAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.LoginAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAPI</servlet-name>
        <url-pattern>/LoginAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateBroadcastAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateBroadcastAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBroadcastAPI</servlet-name>
        <url-pattern>/UpdateBroadcastAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCurrentLocationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateCurrentLocationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCurrentLocationAPI</servlet-name>
        <url-pattern>/UpdateCurrentLocationAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RegisterAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAPI</servlet-name>
        <url-pattern>/RegisterAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPlannedTripsAroundFromMeAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPlannedTripsAroundFromMeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPlannedTripsAroundFromMeAPI</servlet-name>
        <url-pattern>/GetPlannedTripsAroundFromMeAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUsersDetailWithPlannedTripsAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetUsersDetailWithPlannedTripsAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersDetailWithPlannedTripsAPI</servlet-name>
        <url-pattern>/GetUsersDetailWithPlannedTripsAPI</url-pattern>
    </servlet-mapping>
  <servlet>
        <servlet-name>UpdateUserProfileAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateUserProfileAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileAPI</servlet-name>
        <url-pattern>/UpdateUserProfileAPI</url-pattern>
    </servlet-mapping>
  <servlet>
        <servlet-name>UpdateUserSocialNetWorkAccountAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateUserSocialNetWorkAccountAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserSocialNetWorkAccountAPI</servlet-name>
        <url-pattern>/UpdateUserSocialNetWorkAccountAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPartnerLocationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPartnerLocationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPartnerLocationAPI</servlet-name>
        <url-pattern>/GetPartnerLocationAPI</url-pattern>
    </servlet-mapping>


    <!--**ANGEL**-->
    <servlet>
        <servlet-name>GetAngelsAroundFromMeAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelsAroundFromMeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelsAroundFromMeAPI</servlet-name>
        <url-pattern>/GetAngelsAroundFromMeAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAngelActiveCodesAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelActiveCodesAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelActiveCodesAPI</servlet-name>
        <url-pattern>/GetAngelActiveCodesAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelRegisterAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelRegisterAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelRegisterAPI</servlet-name>
        <url-pattern>/AngelRegisterAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelLoginAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelLoginAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelActiveCodesForWebAPI</servlet-name>
        <url-pattern>/GetAngelActiveCodesForWebAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelForgetPasswordAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelForgetPasswordAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelForgetPasswordAPI</servlet-name>
        <url-pattern>/AngelForgetPasswordAPI</url-pattern>
    </servlet-mapping>
 <servlet>
        <servlet-name>GetAngelActiveCodesForWebAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelActiveCodesForWebAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelLoginAPI</servlet-name>
        <url-pattern>/AngelLoginAPI</url-pattern>
    </servlet-mapping>

    <!--**TRIP**-->
    <servlet>
        <servlet-name>RequestMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RequestMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestMakeTripAPI</servlet-name>
        <url-pattern>/RequestMakeTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReplyMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.ReplyMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyMakeTripAPI</servlet-name>
        <url-pattern>/ReplyMakeTripAPI</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>GetListRequestMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetListRequestMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListRequestMakeTripAPI</servlet-name>
        <url-pattern>/GetListRequestMakeTripAPI</url-pattern>
    </servlet-mapping>
 <servlet>
        <servlet-name>RemoveRequestMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RemoveRequestMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveRequestMakeTripAPI</servlet-name>
        <url-pattern>/RemoveRequestMakeTripAPI</url-pattern>
    </servlet-mapping>

    <!--**IMAGE**-->
    <servlet>
        <servlet-name>UploadImageAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UploadImageAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageAPI</servlet-name>
        <url-pattern>/UploadImageAPI</url-pattern>
    </servlet-mapping>

    <!--**VERIFIED CERTIFICATE**-->
    <servlet>
        <servlet-name>RequestVerifyAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.RequestVerifyAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestVerifyAPI</servlet-name>
        <url-pattern>/RequestVerifyAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReplyVerifyAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.ReplyVerifyAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyVerifyAPI</servlet-name>
        <url-pattern>/ReplyVerifyAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCertificateAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.CreateCertificateAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCertificateAPI</servlet-name>
        <url-pattern>/CreateCertificateAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GCMBroadcast</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.servlet.broadcast.GCMBroadcast</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GCMBroadcast</servlet-name>
        <url-pattern>/GCMBroadcast</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.bikiegang.ridesharing.StartupListener</listener-class>
    </listener>

</web-app>