<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>PinBike Server</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- API -->
    <!--**FEED**-->
    <servlet>
        <servlet-name>GetNewFeedAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetNewFeedAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNewFeedAPI</servlet-name>
        <url-pattern>/GetNewFeedAPI</url-pattern>
    </servlet-mapping>
    <!--**SOCIAL TRIP**-->
    <servlet>
        <servlet-name>CreateSocialTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CreateSocialTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSocialTripAPI</servlet-name>
        <url-pattern>/CreateSocialTripAPI</url-pattern>
    </servlet-mapping>
    <!--**PLANNED TRIP**-->
    <servlet>
        <servlet-name>GetListTripByCalendarAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetListTripByCalendarAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListTripByCalendarAPI</servlet-name>
        <url-pattern>/GetListTripByCalendarAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemovePlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RemovePlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemovePlannedTripAPI</servlet-name>
        <url-pattern>/RemovePlannedTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutoParingWhenSearchAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.AutoParingWhenSearchAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoParingWhenSearchAPI</servlet-name>
        <url-pattern>/AutoParingWhenSearchAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateSingleFuturePlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CreateSingleFuturePlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSingleFuturePlannedTripAPI</servlet-name>
        <url-pattern>/CreateSingleFuturePlannedTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateInstantPlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CreateInstantPlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateInstantPlannedTripAPI</servlet-name>
        <url-pattern>/CreateInstantPlannedTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateRecurrentPlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CreateRecurrentPlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateRecurrentPlannedTripAPI</servlet-name>
        <url-pattern>/CreateRecurrentPlannedTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPlannedTripDetailAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPlannedTripDetailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPlannedTripDetailAPI</servlet-name>
        <url-pattern>/GetPlannedTripDetailAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetComingSoonTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetComingSoonTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetComingSoonTripAPI</servlet-name>
        <url-pattern>/GetComingSoonTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCurrentLocationWithPlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateCurrentLocationWithPlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCurrentLocationWithPlannedTripAPI</servlet-name>
        <url-pattern>/UpdateCurrentLocationWithPlannedTripAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PairingPlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.PairingPlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PairingPlannedTripAPI</servlet-name>
        <url-pattern>/PairingPlannedTripAPI</url-pattern>
    </servlet-mapping>
    <!--**TRIP**-->
    <servlet>
        <servlet-name>EndTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.EndTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndTripAPI</servlet-name>
        <url-pattern>/EndTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.StartTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartTripAPI</servlet-name>
        <url-pattern>/StartTripAPI</url-pattern>
    </servlet-mapping>
    <!--**RATING**-->
    <servlet>
        <servlet-name>RatingAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RatingAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RatingAPI</servlet-name>
        <url-pattern>/RatingAPI</url-pattern>
    </servlet-mapping>
    <!--**USER**-->
    <servlet>
        <servlet-name>RequestViewPhoneNumberAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RequestViewPhoneNumberAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestViewPhoneNumberAPI</servlet-name>
        <url-pattern>/RequestViewPhoneNumberAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcceptViewPhoneNumberAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.AcceptViewPhoneNumberAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcceptViewPhoneNumberAPI</servlet-name>
        <url-pattern>/AcceptViewPhoneNumberAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.LoginAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAPI</servlet-name>
        <url-pattern>/LoginAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateBroadcastAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateBroadcastAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBroadcastAPI</servlet-name>
        <url-pattern>/UpdateBroadcastAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAngelBroadcastAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.UpdateAngelBroadcastAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelChangePasswordAPI</servlet-name>
        <url-pattern>/AngelChangePasswordAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelChangePasswordAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelChangePasswordAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAngelBroadcastAPI</servlet-name>
        <url-pattern>/UpdateAngelBroadcastAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCurrentLocationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateCurrentLocationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCurrentLocationAPI</servlet-name>
        <url-pattern>/UpdateCurrentLocationAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RegisterAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAPI</servlet-name>
        <url-pattern>/RegisterAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPlannedTripsAroundFromMeAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPlannedTripsAroundFromMeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPlannedTripsAroundFromMeAPI</servlet-name>
        <url-pattern>/GetPlannedTripsAroundFromMeAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUsersDetailWithPlannedTripsAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetUsersDetailWithPlannedTripsAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersDetailWithPlannedTripsAPI</servlet-name>
        <url-pattern>/GetUsersDetailWithPlannedTripsAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUsersDetailAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetUsersDetailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersDetailAPI</servlet-name>
        <url-pattern>/GetUsersDetailAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserProfileAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateUserProfileAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileAPI</servlet-name>
        <url-pattern>/UpdateUserProfileAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserSocialNetWorkAccountAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateUserSocialNetWorkAccountAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserSocialNetWorkAccountAPI</servlet-name>
        <url-pattern>/UpdateUserSocialNetWorkAccountAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPartnerLocationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPartnerLocationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPartnerLocationAPI</servlet-name>
        <url-pattern>/GetPartnerLocationAPI</url-pattern>
    </servlet-mapping>


    <!--**ANGEL**-->
    <servlet>
        <servlet-name>GetAngelsAroundFromMeAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelsAroundFromMeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelsAroundFromMeAPI</servlet-name>
        <url-pattern>/GetAngelsAroundFromMeAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAngelsInGroupAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelsInGroupAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelsInGroupAPI</servlet-name>
        <url-pattern>/GetAngelsInGroupAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAngelActiveCodesAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelActiveCodesAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelActiveCodesAPI</servlet-name>
        <url-pattern>/GetAngelActiveCodesAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelRegisterAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelRegisterAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelRegisterAPI</servlet-name>
        <url-pattern>/AngelRegisterAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelLoginAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelLoginAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelActiveCodesForWebAPI</servlet-name>
        <url-pattern>/GetAngelActiveCodesForWebAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AngelForgetPasswordAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AngelForgetPasswordAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelForgetPasswordAPI</servlet-name>
        <url-pattern>/AngelForgetPasswordAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAngelActiveCodesForWebAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelActiveCodesForWebAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AngelLoginAPI</servlet-name>
        <url-pattern>/AngelLoginAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckEmailExistAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.CheckEmailExistAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailExistAPI</servlet-name>
        <url-pattern>/CheckEmailExistAPI</url-pattern>
    </servlet-mapping>

    <!--**TRIP**-->
    <servlet>
        <servlet-name>GetListRequestMakeTripOfMeAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetListRequestMakeTripOfMeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListRequestMakeTripOfMeAPI</servlet-name>
        <url-pattern>/GetListRequestMakeTripOfMeAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RequestMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestMakeTripAPI</servlet-name>
        <url-pattern>/RequestMakeTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReplyMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.ReplyMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyMakeTripAPI</servlet-name>
        <url-pattern>/ReplyMakeTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListRequestMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetListRequestMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListRequestMakeTripAPI</servlet-name>
        <url-pattern>/GetListRequestMakeTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveRequestMakeTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RemoveRequestMakeTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveRequestMakeTripAPI</servlet-name>
        <url-pattern>/RemoveRequestMakeTripAPI</url-pattern>
    </servlet-mapping>

    <!--**IMAGE**-->
    <servlet>
        <servlet-name>UploadImageAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UploadImageAPI</servlet-class>
        <multipart-config>
            <!-- 52MB max -->
            <max-file-size>52428800</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageAPI</servlet-name>
        <url-pattern>/UploadImageAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadPopularImageAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UploadPopularImageAPI</servlet-class>
        <multipart-config>
            <!-- 52MB max -->
            <max-file-size>52428800</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadPopularImageAPI</servlet-name>
        <url-pattern>/UploadPopularImageAPI</url-pattern>
    </servlet-mapping>

    <!--**VERIFIED CERTIFICATE**-->
    <servlet>
        <servlet-name>CheckEnoughCertificatesAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CheckEnoughCertificatesAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEnoughCertificatesAPI</servlet-name>
        <url-pattern>/CheckEnoughCertificatesAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestVerifyAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RequestVerifyAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestVerifyAPI</servlet-name>
        <url-pattern>/RequestVerifyAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReplyVerifyAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.ReplyVerifyAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyVerifyAPI</servlet-name>
        <url-pattern>/ReplyVerifyAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCertificateAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.CreateCertificateAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCertificateAPI</servlet-name>
        <url-pattern>/CreateCertificateAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetListVerifyRequestAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetListVerifyRequestAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListVerifyRequestAPI</servlet-name>
        <url-pattern>/GetListVerifyRequestAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetVerifyRequestDetailAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetVerifyRequestDetailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetVerifyRequestDetailAPI</servlet-name>
        <url-pattern>/GetVerifyRequestDetailAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyCertificateAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.VerifyCertificateAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCertificateAPI</servlet-name>
        <url-pattern>/VerifyCertificateAPI</url-pattern>
    </servlet-mapping>
    <!--** POPULAR LOCATION**-->
    <servlet>
        <servlet-name>GetPopularLocationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetPopularLocationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPopularLocationAPI</servlet-name>
        <url-pattern>/GetPopularLocationAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPopularLocationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.AddPopularLocationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPopularLocationAPI</servlet-name>
        <url-pattern>/AddPopularLocationAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOrganizationsAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetOrganizationsAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrganizationsAPI</servlet-name>
        <url-pattern>/GetOrganizationsAPI</url-pattern>
    </servlet-mapping>
    <!--** ANGEL GROUP**-->
    <servlet>
        <servlet-name>GetAlphabetAngelGroupsAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAlphabetAngelGroupsAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAlphabetAngelGroupsAPI</servlet-name>
        <url-pattern>/GetAlphabetAngelGroupsAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAngelGroupsAroundAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.GetAngelGroupsAroundAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAngelGroupsAroundAPI</servlet-name>
        <url-pattern>/GetAngelGroupsAroundAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutocompleteGroupSearchAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.AutocompleteGroupSearchAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutocompleteGroupSearchAPI</servlet-name>
        <url-pattern>/AutocompleteGroupSearchAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JoinGroupAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.JoinGroupAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinGroupAPI</servlet-name>
        <url-pattern>/JoinGroupAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitGroupAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.angel.ExitGroupAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitGroupAPI</servlet-name>
        <url-pattern>/ExitGroupAPI</url-pattern>
    </servlet-mapping>

    <!--**SLACK**-->
    <servlet>
        <servlet-name>GenerateApiDoccumentServlet</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.servlet.slack.GenerateApiDoccumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateApiDoccumentServlet</servlet-name>
        <url-pattern>/GenerateApiDoccumentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForNewAndroidGuyAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.ForNewAndroidGuyAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForNewAndroidGuyAPI</servlet-name>
        <url-pattern>/ForNewAndroidGuyAPI</url-pattern>
    </servlet-mapping>
    <!--**GCM**-->
    <servlet>
        <servlet-name>GCMBroadcast</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.servlet.broadcast.GCMBroadcast</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GCMBroadcast</servlet-name>
        <url-pattern>/GCMBroadcast</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDefaultSettingAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetDefaultSettingAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDefaultSettingAPI</servlet-name>
        <url-pattern>/GetDefaultSettingAPI</url-pattern>
    </servlet-mapping>
    <!--**CHAT**-->
    <servlet>
        <servlet-name>GetConversationsAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetConversationsAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetConversationsAPI</servlet-name>
        <url-pattern>/GetConversationsAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMessageHistoryAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetMessageHistoryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMessageHistoryAPI</servlet-name>
        <url-pattern>/GetMessageHistoryAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveMessagesAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.SaveMessagesAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveMessagesAPI</servlet-name>
        <url-pattern>/SaveMessagesAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateReadConversationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.UpdateReadConversationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateReadConversationAPI</servlet-name>
        <url-pattern>/UpdateReadConversationAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendFeedbackAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.SendFeedbackAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendFeedbackAPI</servlet-name>
        <url-pattern>/SendFeedbackAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RepeatPlannedTripAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.RepeatPlannedTripAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepeatPlannedTripAPI</servlet-name>
        <url-pattern>/RepeatPlannedTripAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUnreadNumberAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetUnreadNumberAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUnreadNumberAPI</servlet-name>
        <url-pattern>/GetUnreadNumberAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetNotificationsAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.GetNotificationsAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNotificationsAPI</servlet-name>
        <url-pattern>/GetNotificationsAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PushNotificationAPI</servlet-name>
        <servlet-class>com.bikiegang.ridesharing.api.PushNotificationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PushNotificationAPI</servlet-name>
        <url-pattern>/PushNotificationAPI</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.bikiegang.ridesharing.StartupListener</listener-class>
    </listener>

</web-app>